.container {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #e4e4ff;
}

label {
    font-weight: 800;
}

.container > div {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

lightning-button {
    align-self: flex-end;
    padding-top: 1rem;
}